<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-signin mt-5">
    <h1 class="h3 mb-3 font-weight-normal text-center">パスワードの再設定</h1>
    <%= f.label :メールアドレス, class: "sr-only" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-2", id: "inputEmail", placeholder: "メールアドレスを入力" %>
    <%= f.submit "メールを送信する", class: "btn btn-lg btn-danger btn-block mb-2" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
